body {
  background: url('test1.png');
}
body div {
  border: 1px solid #40d382;
  transform: rotate(45deg);
  animation: myname 2s infinite;
}
@keyframes myname {
  0% {
    top: 0;
    left: 20%;
  }
  25% {
    top: 0;
    left: 80%;
    background: papayawhip;
  }
  50% {
    top: 50%;
    left: 80%;
    background: powderblue;
  }
  75% {
    top: 50%;
    left: 20%;
    background: darkgray;
  }
  100% {
    top: 0;
    left: 20%;
    background: beige;
  }
}
